<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="message" id="tabbar-with-contact" class="mui-control-content">
    <header class="mui-bar mui-bar-nav">
        <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
        <h1 class="mui-title">我的消息</h1>
    </header>
    <div style="padding-top: 45px;">
        <ul class="mui-table-view mui-table-view-chevron add-message">

        </ul>
    </div>
</div>
</body>
</html>