<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="myself" id="tabbar-with-map" class="mui-control-content">
    <header class="mui-bar mui-bar-nav">
        <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>-->
        <h1 class="mui-title">我的</h1>
    </header>
    <div class="gg" style="padding-top: 44px;">
        <img  src="../img/sunset.jpg" alt=""/>
    </div>
    <div class="touxiang my-head-url">
    </div>
    <div class="xxx">
        <span class="my-username">温良</span>
    </div>

    <div class="body1">
        <div class="inter">
            <ul>
                <li class="cl">
                    <span class="mui-icon mui-icon mui-icon-email"></span>
                    <a href="#">私信</a>
                </li>
                <li class="cl">
                    <span class="mui-icon mui-icon mui-icon-chatbubble"></span>
                    <a href="#">通知</a>
                </li>
                <li class="cl">
                    <span class="mui-icon mui-icon mui-icon-gear"></span>
                    <a href="#">设置</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>