<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../mui/css/mui.min.css">
</head>
<body>

</body>
<span th:fragment="script">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../mui/js/mui.min.js"></script>
    <script src="../layer/layer.js"></script>
</span>
</html>
