<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzj66.dao.HomeworkDao">

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO homework(studentId,taskId) VALUES (#{studentId},#{taskId})
    </insert>
    <select id="getHidByTaskId" resultType="java.lang.Integer">
        SELECT id FROM homework WHERE studentId = #{studentId} AND taskId = #{taskId}
    </select>
</mapper>